<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Terms and Conditions</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #673d82">
                <div class="container">
                    <a class="navbar-brand text-white" href="/">PuzzleApp</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>          
                    <div class="collapse navbar-collapse" id="navbar">
                      <ul class="navbar-nav ml-auto mt-lg-0">
                          <div class="row justify-content-md-center">
                              <div class="col-sm-12  text-center">
                         
          </div>
          </div>         
            </ul>            
                      <a class="nav-link text-white ml-2 signIn" href="/signIn" role="button">Sign in</a>
                       <!-- Account dropdown that is shown when user is logged in -->
                      <div class="dropdown show  account">
                          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Account
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/accountSettings">Account Settings</a>
                         <!--   <a class="dropdown-item" href="#">Change Password</a> -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item logOut" href="/logOut">Log out</a>
                          </div>
                      </div>
                    </div>
                </div>
              </nav>
    <h2>Terms and Conditions</h2>
    <p>Please read it carefully</p>
    <h3>Terms and Conditions ("Terms")</h3>

        <p>Last updated: March 22,2019</p>      
        <p>Your access to and use of the Service is conditioned on your acceptance of and 
        compliance with these Terms. These Terms apply to all visitors, users and
         others who access or use the Service.        
        By accessing or using the Service you agree to be bound by these Terms.
         If you disagree with any part of the terms then you may not access the Service.
        </p>       
        <p> Puzzle Web App has no control over, and assumes no responsibility for,
         the content, privacy policies, or practices of any third party web sites or services. 
         You further acknowledge and agree that Puzzle Web App shall not be responsible or 
         liable, directly or indirectly, for any damage or loss caused or alleged to
          be caused by or in connection with use of or reliance on any such content,
           goods or services available on or through any such web sites or services.
         </p>
         <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 (change this) days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
         </p>
         <p>If you have any questions about these Terms, please contact us.</p>
   

         <!-- Footer -->
    <footer class="footer ">
            <div class="container">
                <div class="row m-3 ">
                    <div class="col-sm-12 col-md-3 ml-5 text-center ">© 2019 PuzzleApp</div>
                    <div class="col-sm-12 col-md-6 text-center"><a class="text-secondary" href="/terms">Terms</a> <a class="text-secondary ml-3" href="#">Contact us</a> <a class="text-secondary ml-3" href="/report">Report bug</a></div>
                </div>
            </div>
       </footer>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="javascripts/frontend.js"></script>   
</body>
</html>